* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  
  @media screen and (min-width: 768px) {

  body {
    display: grid;
  font-family: "Poppins",'Times New Roman', Times, serif;
  position: absolute;
  width: 1440px;
  height: 5125px;
  left: 0px;
  top: 1px;
  background-color:#E5E5E5;
    }
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
header a {
  text-decoration: none;
}
.toolbar{
  display: flex;
  position: absolute;
  width: 1440px;
  height: 50px;
  left: 0px;
  top: 16px;
  align-items: center;
  justify-content: flex-end;
}
.navigation{
  display: flex;
  padding: 5px;
  position: absolute;
  width: 359px;
  height: 40px;
  left: 939px;
  top: 10px;
}
.portfolio{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 12px;
  position: absolute;
  width: 87px;
  height: 40px;
  left: 9px;
  top: 10px;
}
.contact{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 12px;
  position: absolute;
  width: 86px;
  height: 40px;
  left: 173px;
  top: 10px;
}
.about{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 12px;
  position: absolute;
  width: 70px;
  height: 40px;
  left: 105px;
  top: 10px;
}

header {
  padding: 0 5px;
  height: 50px;
}

#brand {
  font-weight: bold;
  font-size: 18px;
  display: flex;
  position: absolute;
  flex-direction: row;
  align-items: center;
  padding: 10px 12px;
  width: 100px;
  height: 40px;
  left: 143px;
  top: 18px;
  font-size: 18px;
}

#brand a {
  color: blue;
}

ul {
  list-style: none;
  height: 100%;
  display: flex;
  justify-content: flex-end;
}

ul a {
  color: white;
}

#hamburger-icon {
  margin: auto 0;
  display: none;
  cursor: pointer;
}

#hamburger-icon div {
  width: 35px;
  height: 3px;
  background-color: white;
  margin: 6px 0;
  transition: 0.4s;
}

#hamburger-icon {
  display: block;
}

.navigation{
  display: flex;
flex-direction: row;
align-items: center;
font-style: normal;
font-size: 15px;
line-height: 20px;
font-weight: 500;
padding: 0px;
position: absolute;
width: 259px;
height: 40px;
left: 1039px;
top: 16px;
color: #344563;

}

.portfolio{
text-align: center;
width: 63px;
height: 20px;
left: 12px;
top: 10px;
color: #344563;
}

.about{
text-align: center;
width: 46px;
height: 20px;
left: 92px;
top: 10px;
color: #344563;
}

.contact{
  text-align: center;
  width: 62px;
height: 20px;
left: 160px;
top: 10px;
  color: #344563;
}

.intro {
    background: #fff;
    border-bottom-left-radius: 12%;
    order: 999;
    height: 718px;
}
.wrapper{
  width: 1595px;
  height: 916px;
  left: 0px;
  top: 1px;
  background: #FFFFFF;
  border: 1px solid #E5E5E5;
  border-bottom-left-radius: 22%;
}
 .name {
  position: absolute;
  width: 520px;
  height: 222px;
  left: 171px;
  top: 130px;
  font-family: 'Poppins', 'Times New Roman', Times, serif;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 70px;
  display: flex;
  align-items: center;
  letter-spacing: 0.40px;
  color: #091e42;
  margin: 62px 80px;
}  
  
.info {
  position: absolute;
  width: 920px;
  height: 98px;
  left: 251px;
  top: 420px;
  font-family: 'Poppins','Times New Roman', Times, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #344563;
}
.lets-connect h3 {
  position: absolute;
  left: 24px;
  width: 167px;
  height: 24px;
  top: 135px;
  font-family: Poppins, 'Times New Roman', Times, serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
  margin: 66px 86px
}
.lets-connect{
  position: absolute;
  width: 117px;
  height: 24px;
  left: 145px;
  top: 355px;
  font-family: 'Poppins', 'Times New Roman', Times, serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7F8CFF;
}
.social{
  display: flex;
  position: absolute;
  width: 270.17px;
  height: 40px;
  gap: 13px;
  left: 244px;
  align-items: center;
 justify-content: flex-start;
  top: 590px;
}
.client{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: baseline;
  width: 375px;
  height: 32px;
  position: relative;
  font-weight: 600;
  font-size: 16px;
  justify-content: flex-start;
  margin-left: 8px;
  color: #7A869A;
  gap: 10px;
  flex-wrap: nowrap;
}
.client-name{
  color: #344563;
}
.role{
  display: flex;
  width: 120px;
  color: #7A869A;
  font-weight: 600;
  font-size: 16px;
  justify-content: center;
}
.year{
color: #7A869A;
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 19px;
}
.circle{
  width: 9px;
  height: 9px;
  background: #C1C7D0;
  border-radius: 50%;
}
.works{
  background: #E5E5E5;
  height: 2830px;
  width: 796px;
}
.card1{
  width: 1186px;
  height: 496px;
  position: absolute;
  top: 1049px;
  left: 164px;
  bottom: 0px;
  border: 1px solid #DFE1E6;
  border-radius: 24px;
  margin-left: 24px;
  background-color: #ffffff;
}
.card1:hover{
  border-color: blue;
}
.image_project1{
  position: relative;
  width: 530px;
  height: 448px;
  left: 24px;
  top: 24px;
  border-radius: 8px;
  background-image: url(/images/SnapshootPortfolio1.svg);
  background-repeat: no-repeat;
}
.project_title1{
  position: absolute;
  width: 496px;
  height: 46px;
  left: 590px;
  top: 29px;
  font-family: 'Poppins', 'Times New Roman', Times, serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #091E42;
}
.client_card1{
  display: flex;
  flex-direction: row;
  justify-content: baseline;
  gap: 7px;
  align-items: baseline;
  padding: 0px;
  position: absolute;
  width: 536px;
  height: 32px;
  left: 330px;
  top: 86px;
  margin: 12px 0px;
}
.description_card1{
  position: absolute;
  width: 496px;
  height: 50px;
  left: 600px;
  top: 146px;
  font-family: 'Poppins', 'Times New Roman', Times, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 24px;
  color: #344563;
}
.categories_card1{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  position: absolute;
  width: 203px;
  height: 24px;
  gap: 5px;
  left: 593px;
  top: 220px;
  color: blue;
}
.button_card1{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  position: absolute;
  width: 129px;
  height: 48px;
  left: 605px;
  top: 290px;
  border-radius: 8px;
  border: 1px solid #6070FF;

}

#see_project1{
  display: flex;
text-align: center;
letter-spacing: 0.09em;

width: 100px;
height: 38px;
font-family: 'Poppins', 'Times New Roman', Times, serif;
font-style: normal;
font-weight: 500;
font-size: 22px;
line-height: 24px;
padding-left: 6px;
}
.button_card1:hover {
  color: #fff;
  background-color: #6070ff;
}

.button_card1:active {
  color: #fff;
  background-color: #2230d2;
}

.button_card1:disabled {
  color: #5e6c84;
  background-color: #e5e5e5;
}
.card2{
  width: 1186px;
  height: 496px;
  position: absolute;
  left: 164px;
  right: 54px;
  top: 1697px;
  bottom: 0px;
  background: #FFFFFF;
  border: 1px solid #DFE1E6;
  border-radius: 24px;
  margin-left: 24px;
}
.card2:hover{
  border-color: blue;
}
.image_project2{
  position: absolute;
  width: 526px;
  height: 448px;
  left: 640px;
  top: 24px;
  background: url(/images/SnapshootPortfolio2.svg);
  border-radius: 8px;
}
.project_title2{
  position: absolute;
  width: 496px;
  height: 46px;
  left: 40px;
  top: 40px;
  font-family: 'Poppins', 'Times New Roman', Times, serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #091E42;
}
.description_card2{
  position: absolute;
  width: 496px;
  height: 70px;
  left: 35px;
  top: 146px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 24px;
  color: #344563;
}
.client_card2{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: baseline;
  gap: 7px;
  align-items: baseline;
  padding: 0px;
  position: absolute;
  width: 536px;
  height: 32px;
  left: -216px;
  top: 92px;
  margin: 12px 0px
}
.categories_card2{
  display: flex;
  flex-wrap: nowrap;
  list-style: none;
  justify-content: flex-start;
  padding: 0px;
  gap: 10px;
  letter-spacing: 0.02em;
  width: 375px;
  height: 49px;
  left: 114px;
  top: 0px;
  margin-left: 16px;
}
.categories_card2{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  position: absolute;
  width: 446px;
  justify-content: baseline;
  flex-wrap: nowrap;
  color: blue;
  height: 24px;
  left: 16px;
  top: 240px;
  align-self: flex-start;
}
.button_card2{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  position: absolute;
  width: 124px;
  height: 48px;
  left: 26px;
  top: 310px;
  color: blue;
  border-radius: 8px;
  border: 1px solid #6070FF;
}

.button_card2:hover {
  color: #fff;
  background-color: #6070ff;
}

.button_card2:active {
  color: #fff;
  background-color: #2230d2;
}

.button_card2:disabled {
  color: #5e6c84;
  background-color: #e5e5e5;
}

.card3{
  width: 1186px;
  height: 496px;
  position: absolute;
  left: 164px;
  top: 2343px;
  bottom: 0px;
  background: #FFFFFF;
  border: 1px solid #DFE1E6;
  border-radius: 24px
}
.card3:hover{
  border-color: blue;
}
.button_card3:hover {
  color: #6070ff;
  background-color: white;
  border: 1px solid blue;
}

.button_card3:active {
  color: #fff;
  background-color: #2230d2;
}

.button_card3:disabled {
  color: #5e6c84;
  background-color: #e5e5e5;
}
.image_project3{
  position: absolute;
  width: 526px;
  height: 448px;
  left: 24px;
  top: 24px;
  background: url(/images/SnapshootPortfolio3.svg);
  border-radius: 8px;
}
.project_title3{
  position: absolute;
  width: 496px;
  height: 46px;
  left: 590px;
  top: 40px;
  font-family: 'Poppins', 'Times New Roman', Times, serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #091E42;
}
.client_card3{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  position: absolute;
  width: 536px;
  height: 32px;
  left: 333px;
  top: 98px;
  gap: 7px;
  margin: 12px 0px;
}
.description_card3{
  position: absolute;
  width: 496px;
  height: 70px;
  left: 600px;
  top: 146px;
  font-family: 'Poppins', 'Times New Roman', Times, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 24px;
  color: #344563;
}
.categories_card3{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  position: absolute;
  gap: 7px;
  color: blue;
  width: 496px;
  height: 24px;
  left: 443px;
  top: 240px;
}
.button_card3{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  position: absolute;
  width: 124px;
  height: 48px;
  left: 605px;
  top: 300px;
  color: white;
  background: #4053FC;
  box-shadow: 0px 8px 16px rgba(64, 83, 252, 0.24);
  border-radius: 8px;
}
.card4{
  width: 1186px;
  height: 496px;
  position: absolute;
  left: 164px;
  top: 3005px;
  border: 1px solid #DFE1E6;
  background: #FFFFFF;
  border-radius: 24px;
}
.card4:hover{
  border-color: blue;
}

.button_card4:hover {
  color: #fff;
  background-color: #6070ff;
}

.button_card4:active {
  color: #fff;
  background-color: #2230d2;
}

.button_card4:disabled {
  color: #5e6c84;
  background-color: #e5e5e5;
}
.image_project4{
  position: absolute;
  width: 526px;
  height: 448px;
  left: 640px;
  top: 24px;
  background: url(/images/SnapshootPortfolio4.svg);
  border-radius: 8px;
  background-repeat: no-repeat;
}
.project_title4{
  position: absolute;
  width: 496px;
  height: 46px;
  left: 0px;
  top: 40px;
  font-family: 'Poppins', 'Times New Roman', Times, serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #091E42;
}
.client_card4{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  position: absolute;
  justify-content: baseline;
  gap: 7px;
  width: 536px;
  height: 34px;
  left: -250px;
  top: 92px;
  margin: 12px 0px;
}
.description_card4{
  position: absolute;
  width: 496px;
  height: 53px;
  left: 38px;
  top: 146px;
  font-family: 'Poppins', 'Times New Roman', Times, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 24px;
  color: #344563;
}
.categories_card4{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  position: absolute;
  gap: 7px;
  width: 496px;
  height: 24px;
  left: -110px;
  top: 237px;
  color: blue;
}
.button_card4{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  position: absolute;
  width: 124px;
  height: 48px;
  left: 34px;
  top: 296px;
  border: 1px solid #6070FF;
  border-radius: 8px;
}
.ellipse11{
  position: absolute;
  width: 80.48px;
  height: 60.24px;
  left: 70.2px;
  top: 173.68px;
  background-image: url(/images/Ellipse11.svg);
  background-repeat: no-repeat;
}
.rectangle6{
  position: absolute;
  width: 158.67px;
  height: 99.44px;
  left: 20.6px;
  top: 119.92px;
  background-image: url(/images/Rectangle6.svg);
  background-repeat: no-repeat;
}
.ellipse3{
  position: absolute;
  width: 224px;
  height: 224px;
  left: 1208px;
  top: 192px;
  background-image: url(/images/Ellipse3.svg);
  background-repeat: no-repeat;
}
.rectangle4{
  position: absolute;
  width: 444px;
  height: 157px;
  left: 1147px;
  top: 114px;
  background-image: url(/images/Rectangle4.svg);
  background-repeat: no-repeat;
}
.ellipse7{
  position: absolute;
  width: 39px;
  height: 39px;
  left: 965px;
  top: 92px;
  background: #FFFFFF;
  box-sizing: border-box;
  background-image: url(/images/Ellipse7.svg);
  background-repeat: no-repeat;
}
.ellipse8{
  position: absolute;
  width: 15px;
  height: 15px;
  left: 379px;
  top: 165px;
  background: #FFFFFF;
  box-sizing: border-box;
  background-image: url(/images/Ellipse8.svg);
  background-repeat: no-repeat;
}
.ellipse4{
  position: absolute;
  width: 47px;
  height: 47px;
  left: 920px;
  top: 795px;
  background-image: url(/images/Ellipse4.svg);
  background-repeat: no-repeat;
}
.ellipse12{
  position: absolute;
  width: 36.9px;
  height: 18.45px;
  left: 250.7px;
  top: 749.93px;
  background-image: url(/images/Ellipse12.svg);
  background-repeat: no-repeat;
}
.ellipse13{
  position: absolute;
  width: 46px;
  height: 46px;
  left: 244.06px;
  top: 762.37px;
  background-image: url(/images/Ellipse13.svg);
  background-repeat: no-repeat;
}
.ellipse5{
  position: absolute;
  width: 23px;
  height: 23px;
  left: 705px;
  top: 150px;
  background-repeat: no-repeat;
  background-image: url(/images/Ellipse5.svg);
}
.ellipse6{
  position: absolute;
  width: 75px;
  height: 75px;
  left: 1174px;
  top: 644px;
  background: #FFFFFF;
  box-sizing: border-box;
  background-image: url(/images/Ellipse6.svg);
  background-repeat: no-repeat;
}
.rectangle7{
  position: absolute;
  width: 74.01px;
  height: 30.02px;
  left: 679.25px;
  top: 132.57px;
  background-image: url(/images/Rectangle7.svg);
  background-repeat: no-repeat;
}
.rectangle5{
  position: absolute;
  width: 166.01px;
  height: 32.02px;
  left: 800.25px;
  top: 820.57px;
  background: #EBEBFF;
  background-image: url(/images/Rectangle5.svg);
  background-repeat: no-repeat;
  transform: rotate(23.34deg);
}
.ollinks{
  text-decoration: none;
  flex-wrap: wrap;
  padding: 4px 12px;
  border-radius: 10px;
  height: 24px;
  background: #DFE1E6;
  border: 1px solid #DFE1E6;
  color: #6070FF;
  position: static;
  left: 1px;
}
.ollinks:hover {
  text-decoration: underline;
  color:blue;
}
.button {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  width: 124px;
  height: 48px;
  left: 0px;
  top: calc(50% - 48px/2);
  border: 1px solid #6070FF;
  box-sizing: border-box;
  border-radius: 8px;
  margin-bottom: 3px;
  text-decoration: none;
}
.about_myself{
  position: absolute;
  width: 1440px;
  height: 924px;
  background: #ffffff;
  border-top-right-radius: 12%;
  top: 3675px;
}
.about_myself_name{
  position: absolute;
  left: 142px;
  top: 142px;
  font-family: 'Poppins', 'Times New Roman', Times, serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 62px;
  display: flex;
  align-items: center;
  color: #091E42;
}
.about_description{
  position: absolute;
  width: 447px;
  height: 102px;
  left: 142px;
  top: 286px;
  font-family: 'Poppins', 'Times New Roman', Times, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 24px;
  color: #344563;
}
 .lets-connect2{
  font-family: 'Poppins', 'Times New Roman', Times, serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  padding: 0px;
  position: relative;
  width: 16%;
  height: 40px;
  left: 132px;
  top: 400px;
  color: #7F8CFF;
}

.social_container{
  display: flex;
  position: relative;
  width: 24%;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  left: 128px;
  top: 415px;
  padding-inline-start: 0px;
}
.about_myself_resume{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  position: relative;
  width: 162px;
  height: 48px;
  left: 142px;
  top: 444px;
  border: 1px solid #6070FF;
  box-sizing: border-box;
  border-radius: 8px;
  text-decoration: none;
}

.about_myself_resume:hover {
  color: #fff;
  background: #6070ff;
}
a:-webkit-any-link{
  text-decoration: none;
}
.frame-languages{
  display: inline-flex;
  gap: 490px;
  margin-left: 16px;
  position:relative;
  left: 562px;
  top: 46px;
}

.frame-languages h4{
  font-family: 'Poppins','Times New Roman', Times, serif; ;
font-style: normal;
font-weight: 500;
font-size: 30px;
line-height: 24px;
}
.languages-list{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  position: absolute;
  width: 414px;
  height: 144px;
  left: 562px;
  top: 212px;
  gap: 8px;

}
.frameworks{
  position:absolute;
  display: inline-flex;
  top: 372px;
  left: 562px;
  gap: 487px;
  margin: 20px;
}

.frameworks h4{
  font-family: 'Poppins','Times New Roman', Times, serif;
font-style: normal;
font-weight: 500;
font-size: 30px;
line-height: 24px;
}
.top_separator{
 width: 50%;
 height: 1px;
 display:inline-flex;
  width:50%;
  justify-content: center; 
  position: absolute;
    top: 450px; 
    left: 570px;
    background: #DFE1E6;
}
.skills{
  display: inline-flex;
  gap: 555px;
  position: absolute;
  left: 570px;
  top: 448px;
  margin: 20px;
}

.skills h4{
  font-family:'Poppins','Times New Roman', Times, serif;
font-style: normal;
font-weight: 500;
font-size: 30px;
line-height: 24px;
}
.bottom_separator{
  display:inline-flex; 
  width:50%;
  justify-content: center; 
  position: absolute;
    top: 530px; 
    left: 570px;
    background: #DFE1E6;
}

.contactme {
  display: flex;
  flex-direction: column;
  position: absolute;
width: 1440px;
height: 896px;
top: 4425px;
background: #6070FF;
border-top-left-radius: 16%;

}
.contactme h2{
  display: flex;
align-items: center;
text-align: center;
  position: absolute;
width: 801px;
height: 56px;
left: 559px;
bottom: 610px;
font-family: 'Poppins', 'Times New Roman', Times, serif;
font-style: normal;
font-weight: 700;
font-size: 50px;
line-height: 52px;
color: #FFFFFF;
}

.button_contactme{
  display: flex;
flex-direction: row;
align-items: center;
padding: 12px 16px;
color: blue;
position: absolute;
width: 140px;
height: 48px;
left: 720.5px;
bottom: 150px;
background: #FFFFFF;
border-radius: 8px;

}

#message{
position: absolute;
left: 559px;
bottom: 220px;
width: 447px;
height: 170px;
padding: 15px 38px 15px 16px;
border-radius: 2px;
background: #FFFFFF;
border: 2px solid #CFD8DC;
border-radius: 2px;
}

#mail{
  background: #FFFFFF;
  position: absolute;
left: 559px;
bottom: 410px;
border-radius: 2px;
padding: 15px 38px 15px 16px;
width: 447px;
height: 48px;
border: 2px solid #CFD8DC;
border-radius: 2px;

}
#name{
  position: absolute;
  left: 559px;
  bottom: 480px;
border-radius: 2px;
padding: 15px 38px 15px 16px;
width: 447px;
height: 48px;
border: 2px solid #CFD8DC;
border-radius: 2px;

}

.presentation_contactme{
  position: absolute;
width: 569px;
height: 102px;
left: 559px;
bottom: 500px;
color: #EBEBFF;
font-family: 'Poppins', 'Times New Roman', Times, serif;
font-weight: 400;
font-size: 20px;
line-height: 28px;
text-align: center;
}
.ellipse3_contactme{
  position: absolute;
width: 129px;
height: 129px;
left: 1237px;
bottom: 550px;
background-image: url(/images/Ellipse3_contactme.svg);
background-repeat: no-repeat;
}

.ellipse13_contactme{
  background-image: url(/images/Ellipse13_contactme.svg);
  background-repeat: no-repeat;
  position: absolute;
width: 75px;
height: 75px;
left: 1129px;
bottom: 130px

}

.rectangle4_contactme{
  position: absolute;
width: 107.2px;
height: 94.7px;
left: 1211.59px;
bottom: 623px;
background-image: url(/images/Rectangle4_contactme.svg);
background-repeat: no-repeat;

}

.ellipse5_contactme{
  position: absolute;
width: 48px;
height: 48px;
left: 111.53px;
bottom: 300px;
background-image: url(/images/Ellipse5_contactme.svg);
background-repeat: no-repeat;

}
.rectangle7_contactme{
  position: absolute;
width: 117.53px;
height: 91.03px;
left: 83.86px;
bottom: 320px;
background-image: url(/images/Rectangle7_contactme.svg);
background-repeat: no-repeat;
}

.rectangle6_contactme{
  position: absolute;
width: 55.6px;
height: 29.95px;
left: 337px;
bottom: 70px;
background-image: url(/images/Rectangle6_contactme.svg);
background-repeat: no-repeat;

}
